@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;500&display=swap');

:root {
   --cor-primaria:#02131D;
   --cor-secundaria:#BFD7EA;
   --cor-terciaria:#000000;
   --cor-hover:#272727;

   --font-principal:'Geologica', sans-serif;
   --font-secundaria: 'Poppins', sans-serif;
}

*{
    margin:0;
    padding:0;
}
body {
     height: 100vh;
     box-sizing: border-box;
     background-color: var(--cor-primaria);
     color: var(--cor-secundaria);
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: var(--font-principal);
}
h2{
     font-size: 30px;
     text-align: left;
     padding-left: 20%;
     padding-top: 5%;
     font-family: var(--font-principal);
}

p{
    font-family: var(--font-principal);
    padding-left: 5%;
    padding-top: 5%;
}


.titulo {
      color: var(--cor-secundaria);
      font-family:var(--font-principal);
      font-size: 40px;
      
}
.cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 15px 6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: linear-gradient(90deg, #02131D 0%, #1e5477 100%);
}
.cabecalho_menu_links:hover{
   color: #f0f0f0;
    }

.cabecalho_menu_links::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background:#02131D;
        transition: width 0.3s;
    }

.cabecalho_menu_links:hover::after {
        width: 100%;
    }
    
.cabecalho_menu_links{
    font-family: var(--font-secundaria);
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-secundaria);
    margin:0 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    align-content: center;

}

.cabecalho_menu{
    display: flex;
    gap:70px;
}
.cabecalho_logo {
    height: 40px;
    margin-right: 20px;
    vertical-align: middle;
}

.apresentacao {
    display: flex;
    margin: 3% 21%;
    align-items: center;
    justify-content:space-between;
}
.apresentacao__valores{
    width: 300;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.apresentacao__valores__texto {
    font-size: 15px;
    padding-bottom: 5%;
    color: var(--cor-secundaria);
    font-weight: 300;
}
.texto{
      color: var(--cor-secundaria);
      font-family: var(--font-principal);
}

.about_texto{
    font-weight: 300;
    font-family: var(--font-principal);
    font-size: 20px;
    
}


.firsttext {
    margin-right: 30%;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.apresentacao__links_redes{
    font-family: var(--font-principal);
    font-weight: 200;
    font-size: 12px;
}
.apresentacao__links__link {
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-terciaria);
    width: 200px;  
    border:2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 300;
    padding: 21.5px 0px;
    color:var(--cor-secundaria);
    font-family: var(--font-principal);
    text-decoration: none;
    align-items: center;
    
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.rodape {
     position: relative;
     bottom: 0;
     width: 100%;
     height: 2.5rem;
     text-align: center;
     padding:14px;
     color:var(--cor-secundaria);
     background: var(--cor-terciaria);
     font-family: var(--font-principal);
     font-size: 24px;
     display: block;
}

.about_rodape{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    padding:2% 0 0.5% 0;
    color:var(--cor-secundaria);
    background: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-size: 24px;
    display: block;
}
