@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;500&display=swap');

:root {
    --cor-primaria: #02131D;
    --cor-secundaria: #BFD7EA;
    --cor-terciaria: #000000;
    --cor-hover: #272727;
    --font-principal: 'Geologica', sans-serif;
    --font-secundaria: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    min-height: 100vh;

    background-image: radial-gradient(
        600px circle at var(--mouse-x, 0px) var(--mouse-y, 0px),
        rgba(29, 78, 216, 0.15), /* Cor sutil do brilho. Você pode ajustar! */
        transparent 80%
    );
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-principal);
}

#nome_2 {
    margin-left: 12%;
}

.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #02131D 0%, #1e5477 100%);
    padding: 1rem 5%;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content:start;
    align-items: center;
    height: 4rem;
    gap:4rem;
}

.cabecalho_logo {
    max-width: 50px;
    height: auto;
    justify-content: left;
}

.cabecalho_menu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0;
    padding: 0;
}


.cabecalho_menu_links {
    font-family: var(--font-secundaria);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 2px;
    list-style-type: none;
    
}

.cabecalho_menu_links:hover {
    color: #cccc;
}

.cabecalho_menu_links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--cor-secundaria);
    transition: width 0.3s ease;
}

.cabecalho_menu_links:hover::after {
    width: 100%;
    background-color: var(--cor-secundaria);
    transition: width 0.3s;
}

.nav-link.active {
  color: var(--cor-secundaria);
  font-weight: bold;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 5% 2rem;
}

.name {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    min-height: 70vh;
    align-items: center;
    padding: 2rem 0;
}

.sidebar {
    text-align: center;
}

.sidebar h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #dbeafe;
}

.sidebar h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--cor-secundaria);
  margin-top: 1rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.8;
  color: #cbd5e1;
  text-align: justify;
  margin-bottom: 0.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
}

.socials {
    position: static;
    transform: none;
    margin-bottom: 2rem;
}

.socials a {
    color: #60a5fa;
    transition: color 0.3s;
}

.socials a:hover {
    color: #93c5fd;
}

.socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
}

.projects_1 {
    padding:2rem 0;
    width: 100%;
}

.project-card {
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.project-card_2 {
    display: block;
    width: 280px;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.project-card_2:hover {
    border-color:#0077B5 ;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transform: translateY(-5px)
}

.project-card h3 {
  color: #dbeafe;
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.project-card p {
  color: #cbd5e1;
  line-height: 1.4;
  margin: 0;
}

.rodape {
    width: 100%;
    text-align: left; /* Altera o alinhamento para a esquerda */
    padding: 1rem 2rem;
    padding-left:30%;
    color: var(--cor-secundaria);
    background: var(--cor-primaria);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 100;
}


/* Telas Maiores */
@media (min-width: 768px) {
    h1 {
        font-size: 3.5vw;
    }

    .cabecalho {
        padding: 10px 10%;
    }

    .name {
        grid-template-columns: 1fr 2fr;
        gap: 5rem;
        padding: 2rem;
    }

    .sidebar {
        text-align: left;
        margin-bottom: 11rem;
    }

    .sidebar h1 {
        font-size: 2.5rem;
    }

    .sidebar h2 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 1.1rem;
    }

    .socials {
        position: fixed;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
    }

    .socials ul {
        flex-direction: column;
        gap: 1.5rem;
    }

    .projects_1 {
        margin-left: 15%;
        width: 85%;
    }

    .rodape {
        margin-left: 15%;
    }
}




